/*general*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {margin: 0;padding: 0;box-sizing: border-box;}
body,input {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

/*first part*/
.container {position: relative;width: 100%;background-color: #fff;min-height: 100vh;overflow: hidden;}
.container1 {position:relative;width:100%;background-color:white;min-height: 100vh;overflow: hidden;}
.introduce {position: absolute;top: 50%;transform: translate(-50%, -50%);left: 75%;width: 50%;transition: 1s 0.7s ease-in-out;display: grid;grid-template-columns: 1fr;z-index: 5;}
form {display: flex;align-items: center;justify-content: center;flex-direction: column;padding: 0rem 5rem;transition: all 0.2s 0.7s;overflow:hidden;grid-column: 1 / 2;grid-row: 1 / 2;}
form.introduce2 {opacity: 0;z-index: 1;}
form.introduce1 {z-index: 2;}
.title {font-size: 2.2rem;color: #444;margin-bottom: 10px;}
.title1 {font-size:1.8rem;color:#444;margin-bottom:10px;}
.input-field {max-width: 400px;width: 100%;background-color: #f0f0f0;margin: 10px 0;height: 150px;border-radius: 55px; display: grid;grid-template-columns: 10% 90%;padding: 0 0.4rem;position: relative;}
.input-field i {text-align: center;line-height: 100px;color: #acacac;transition: 0.5s;font-size: 1.1rem;}
.input-field textarea {margin-top: 40px; background: none;outline:none;border:none;line-height: 1;font-weight: 100;font-size: 1rem;color: #333;}
.input-field textarea::placeholder {color: #aaa;font-weight: 500;}
.social-text {padding: 0.7rem 0;font-size: 1rem;}
.context-text {padding: 0.7rem;font-size: 0.8rem; color:#444;}
span{color:red;}
.btn {width: 150px;background-color: black;border: none;outline: none;height: 49px;border-radius: 49px;color:red;
  text-transform: uppercase;font-weight: 600;margin: 10px 0;cursor: pointer;transition: background .5s ease .25s, width .25s ease-in-out;}
.btn:hover {background-color: red; color:black; width:200px; opacity: 70%;}
.btn-onclick{width: 150px;background-color: white;color:black; border-color:black; outline:black;}
.a-documentacion:link{color: red;}
.a-documentacion:visited{color:green}
.a-documentacion:hover{color:black}
.container2 {position: absolute;height: 100%;width: 100%;top: 0;left: 0;
  display: grid;grid-template-columns: repeat(2, 1fr);}
.container:before {content: "";position: absolute;height: 2000px;width: 2000px;top: -10%;right: 48%;
  transform: translateY(-50%);background-image: linear-gradient(-45deg, black 0%, black 100%);
  transition: 1.8s ease-in-out;border-radius: 50%;z-index: 6;}
.image{margin:50px;width: 80%;color:white;transition: transform 1.1s ease-in-out;transition-delay: 0.4s;}
.filter-white{width: 100%;color:white;transition: transform 1.1s ease-in-out;transition-delay: 0.4s;
filter:brightness(0) invert(1);}

/*part2*/
.panel {display: flex;flex-direction: column;align-items: flex-end;justify-content: space-around;text-align: center;z-index: 6;}
.left-panel {pointer-events: all;padding: 3rem 17% 2rem 12%;}
.right-panel {pointer-events: none;padding: 3rem 12% 2rem 17%;}
.panel .content {color: #fff;transition: transform 0.9s ease-in-out;transition-delay: 0.6s;}
.panel h3 {font-weight: 600;line-height: 1;font-size: 1.5rem;}
.panel p {font-size: 0.95rem;padding: 0.7rem 0;}
.btn.transparent {margin: 0;background: none;border: 2px solid #fff;width: 130px;height: 41px;font-weight: 600;font-size: 0.8rem;}
.right-panel .filter-white, .right-panel .image,
.right-panel .content {transform: translateX(800px);}

/* ANIMATION */
.container.sign-up-mode:before {transform: translate(100%, -50%);right: 52%;}
.container.sign-up-mode .left-panel .filter-white, .container.sign-up-mode .left-panel .image,.container.sign-up-mode .left-panel .content {transform: translateX(-800px);}
.container.sign-up-mode .introduce {left: 25%;}
.container.sign-up-mode form.introduce2 {opacity: 1;z-index: 2;}
.container.sign-up-mode form.introduce1 {opacity: 0;z-index: 1;}
.container.sign-up-mode .right-panel .filter-white, .container.sign-up-mode .left-panel .filter-white,.container.sign-up-mode .right-panel .content {transform: translateX(0%);}
.container.sign-up-mode .left-panel {pointer-events: none;}
.container.sign-up-mode .right-panel {pointer-events: all;}


/*visualizacion resultado*/
#result {background-color: yellow;}